{% extends 'website/index.html' %}
{% load static %}
{% block content %}
<script src="{% static 'website/js/references.js' %}"></script>
<div class="page-wrapper">
	<div class="reference-header col-xl-12">	
		<div class="row justify-content-center">
		<p class="reference-text">
			<span class="sr">Neki od naših klijenata prikazani abecednim redom.</span>
			<span class="en">Some of our clients in alphabetical order.</span></p>
		</div>
	</div>
	<div class="sve-reference col-10 mx-auto">

		<div class="row flex-wrap justify-content-center">
			<div class="mx-4">
				<div id="3DUno" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">
					<span class="logo"><img class="logo-image" alt="3DUno" src="{% static 'website/media/references/3dUno.png'%}"></span>
					<span class="text-button text-center"><h3><b>3D Uno</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.3d-uno.rs/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a>
				</span>
			</div>
		</div>

		<div class="mx-4">
			<div id="3lateral" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" alt="3lateral" src="{% static 'website/media/references/3lateral.png'%}"></span>
				<span class="text-button text-center"><h3><b>3Lateral</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.3lateral.com/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		
		<div class="mx-4">
			<div id="brainJocks" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" alt="Brain Jocks" src="{% static 'website/media/references/brainjocks_logo.png'%}"></span>
				<span class="text-button text-center"><h3><b>Brain Jocks</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.brainjocks.com/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>
		

		<div class="mx-4">
			<div  id="dasBad" class="card reference-panel"  onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" alt="Das Bad" src="{% static 'website/media/references/dasBad.png'%}"></span>
				<span class="text-button text-center"><h3><b>Das Bad</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.dasbad.rs/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="egida" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" alt="Egida" src="{% static 'website/media/references/egida.png'%}"></span>
				<span class="text-button text-center"><h3><b>Egida</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.egida.rs/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="etex" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo">
					<img class="logo-image" alt="" src="{% static 'website/media/references/komp2.png'%}" >
				</span>
				<span class="text-button text-center"><h3><b>Etex</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.siniat.rs/sr-Latn-RS/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="familyVet" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/familyVet.png'%}" ></span>
				<span class="text-button text-center"><h3><b>Family Vet</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.familyvetns.com/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>


		<div class="mx-4">
			<div id="fasterPrint" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/fasterPrint.png'%}"></span>
				<span class="text-button text-center"><h3><b>Faster Print</b></h3><a target="_blank" class="btn dugmePlavo" href="http://fasterprint.co.rs/it/home-benvenuti-in-fasterprint/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="fiba" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/fiba.png'%}"></span>
				<span class="text-button text-center"><h3><b>Fiba</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.foodmachines.rs/sr/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="gagicPrint" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/gagicPrint.png'%}"></span>
				<span class="text-button text-center"><h3><b>Gagic Print</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.gagicprint.rs/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="globo" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/globo.png'%}"></span>
				<span class="text-button text-center"><h3><b>Globo</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.globo-lighting.com/sr/1/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="imao" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/imao.png'%}"></span>
				<span class="text-button text-center"><h3><b>Imao</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.imao.rs/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="justIn" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/justIn.png'%}"></span>
				<span class="text-button text-center"><h3><b>Just In</b></h3><a target="_blank" class="btn dugmePlavo" href="http://vencanicejustin.rs/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="kaneko" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/kanekoTeh.png'%}"></span>
				<span class="text-button text-center"><h3><b>Kaneko</b></h3><a target="_blank" class="btn dugmePlavo" href="http://kanekoteh.co.rs/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="kayak" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/kayak.png'%}"></span>
				<span class="text-button text-center"><h3><b>Kayak House</b></h3><a target="_blank" class="btn dugmePlavo" href="http://kayakhouse.rs/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="kornfeil" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/kornfeil.png'%}"></span>
				<span class="text-button text-center"><h3><b>Kornfeil</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.kornfeil.com/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="kristina" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/kristina.png'%}"></span>
				<span class="text-button text-center"><h3><b>Kristina</b></h3><a target="_blank" class="btn dugmePlavo" href="http://kristina-carolije.webs.com/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="maccanti" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/maccanti.png'%}"></span>
				<span class="text-button text-center"><h3><b>Maccanti</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.maccantivivai.it/en/news.php"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="magnetik" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/magnetik.png'%}"></span>
				<span class="text-button text-center"><h3><b>Magnetik</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.dungs.rs/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="mark" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/mark.png'%}"></span>
				<span class="text-button text-center"><h3><b>Mark</b></h3><a target="_blank" class="btn dugmePlavo" href="https://www.markscrub.rs/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="mc" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/mc.png'%}"></span>
				<span class="text-button text-center"><h3><b>Mc Poliklinika</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.mcpoliklinikasimed.com/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="midec" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/midec.png'%}"></span>
				<span class="text-button text-center"><h3><b>Midec</b></h3><a target="_blank" class="btn dugmePlavo" href="http://svezamesare.com/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="ortis" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/ortis.png'%}"></span>
				<span class="text-button text-center"><h3><b>Ortis</b></h3><a target="_blank" class="btn dugmePlavo" href="https://ortis.co.rs/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="orto" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/orto4u.png'%}"></span>
				<span class="text-button text-center"><h3><b>Orto4U</b></h3><a target="_blank" class="btn dugmePlavo" href="http://orto4u.rs/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="ortodonti" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/ortodonti.png'%}"></span>
				<span class="text-button text-center"><h3><b>Ortodontsko udruženje Srbije</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.ortodontisrbije.com/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="primus" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/primusLine.png'%}"></span>
				<span class="text-button text-center"><h3><b>Primus Line</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.primusline.rs/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="ris" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/risCycling.png'%}"></span>
				<span class="text-button text-center"><h3><b>Ris-cycling</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.ris-cycling.com"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="roboProgram" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/roboProgram.png'%}"></span>
				<span class="text-button text-center"><h3><b>Robo Program</b></h3><a target="_blank" class="btn dugmePlavo" href="http://roboprogram.com/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="saturized" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/saturized.png'%}"></span>
				<span class="text-button text-center"><h3><b>Saturized</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.saturized.com/home"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="stomatolozi" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/stomatolozi.png'%}"></span>
				<span class="text-button text-center"><h3><b>Društvo stomatologa Vojvodine</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.dsvojvodine.com/pages/odsv.aspx"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="syrup" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/syrup.png'%}"></span>
				<span class="text-button text-center"><h3><b>Syrups and Soda</b></h3><a target="_blank" class="btn dugmePlavo" href="http://syrupsandsoda.rs/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="toNet" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/toNet.png'%}"></span>
				<span class="text-button text-center"><h3><b>To-net</b></h3><a target="_blank" class="btn dugmePlavo" href="https://www.to-net.rs/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="ultraFashion" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/ultraFashion.png'%}"></span>
				<span class="text-button text-center"><h3><b>Ultra fashion</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.ultrafashion.org/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="vamed" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/vamed.png'%}"></span>
				<span class="text-button text-center"><h3><b>Vamed</b></h3><a target="_blank" class="btn dugmePlavo" href="https://www.vamed.com/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="vitanGas" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/vitanGas.png'%}"></span>
				<span class="text-button text-center"><h3><b>Vitan gas</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.vitangas.rs/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="vmr" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/vmr.png'%}"></span>
				<span class="text-button text-center"><h3><b>VMR centar</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.vmr-centar.com/"><span class='sr'> Originalni sajt </span> <span  class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="dental" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">
				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/worldDental.png'%}"></span>
				<span class="text-button text-center"><h3><b>World Dental</b></h3><a target="_blank" class="btn dugmePlavo" href="http://www.kocicworlddental.com/"><span class='sr'> Originalni sajt </span><span class='en' > Website</span></a></span>

			</div>
		</div>

		<div class="mx-4">
			<div id="ximedes" class="card reference-panel" onmouseenter="mouseIn(this);" onmouseleave="mouseOut(this)">

				<span class="logo"><img class="logo-image" src="{% static 'website/media/references/ximedes.png'%}"></span>
				<span class="text-button text-center"><h3><b>Ximedes</b></h3><a target="_blank" class="btn dugmePlavo" href="https://www.ximedes.com/"><span class='sr'> Originalni sajt </span> <span class='en'> Website</span></a></span>

			</div>
		</div>

	</div>


</div>
</div>
{% endblock %}